/* You can add global styles to this file, and also import other style files */
body {
  background-color:whitesmoke;
}
div {
  margin-right: 400px;
  margin-left: 400px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: justify;
}

