/* You can add global styles to this file, and also import other style files */

body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
}
div {
  margin-right: 400px;
  margin-left: 400px;
  margin-top: auto;
  margin-bottom: auto;
  text-align:justify;
}
.form{
  margin-left: -800px;
}
.button1{
  border-radius:12px;
  background-color:turquoise;
}
.button2{
  border-radius:12px;
  background-color:palevioletred;
}




