/* You can add global styles to this file, and also import other style files */
body {
  background-color:whitesmoke;
}
div {
  margin-right: 300px;
  margin-left: 300px;
  margin-top: auto;
  margin-bottom: auto;
}
