<div class="container-fluid">
  <h2 class="text-center">Add Your Favorite Quote</h2>
  <hr>
  <form>
      <div class="form-group">
        <label for="quote">Quote</label>
        <textarea class="form-control" id="Quote" rows="4" required></textarea>

      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" required class="form-control" id="author">

      </div>
      <div class="form-group">
          <label for="complete">Submitted by</label>
          <input type='name' id="complete" required>
          <button type = submit>Add Quote</button>

      </div>
  </form>
</div>
